---
import { sidebarCardConfig } from "../../config";

const config = sidebarCardConfig;
---

<div class="card-base p-3 onload-animation" style="animation-delay: 250ms">
    <div class="font-bold text-lg mb-2 dark:text-neutral-50"> 其他节点</div>
    <div id="nodes-container" class="flex flex-col gap-2">
        {config.nodes.map((node) => (
            <a id="node"
               href={node.url} target="_blank" rel="noopener"
               class="flex flex-col gap-0.5 p-2 rounded-lg bg-neutral-100 dark:bg-neutral-700/50 hover:bg-neutral-200 dark:hover:bg-neutral-700 transition active:scale-[0.98]">
                <div class="flex items-center gap-2">
                    <span class="text-sm font-semibold text-neutral-800 dark:text-neutral-200">{node.name}</span>
                </div>
                <span class="text-xs text-neutral-500 truncate">{node.description}</span>
            </a>
        ))}
    </div>
</div>
